<% layout('common/layout') -%>
<% block('head').append(`<link type="text/css" href="${assetsConfig.index.css}" rel="stylesheet" charset="utf-8">`) %>

<img alt="logo" src="dist/rock/image/logo.png" />
<h1><%= data.message %></h1>

<% block('footer').append(`<script src="${assetsConfig.index.js}"></script>`) %>
